<h1 class="head">E-SERVICES</h1>
<div class="main container">
  <div class="row">
    <div class="search col-md-4 col-sm-12">
      <input type="search" class="form-control" placeholder="Search for service...">
      <!-- <i class="fa fa-search"></i> -->
    </div>
    <div class="btn col-md-2">
      <button class="but" type="submit">Errors guide</button>
    </div>
    <div  class="col-md-6">
      <div class="space">
        <a href="#" class="listbutton"><i class="iconf fa fa-list"></i>All</a>
        <a href="#" class="listbutton"><i class="iconf fa fa-building"></i>Merchant</a>
        <a href="#" class="listbutton"><i class="iconf fa fa-users"></i>Consumer</a>
        <a href="#" class="listbutton"><i class="iconf fa fa-users"></i>Electronic brand</a>
        <a href="#" class="listbutton"><i class="iconf fa fa-shopping-cart"></i></a>
      </div>
    </div>
  </div> 
  
</div> 
<div class="container">
  <div class="second row col-lg-12">
    <div class="links">
      <a href="#" class="link">All</a>
      <a href="#" class="link">Commercial Register</a>
      <a href="#" class="link">Corporate Service</a>
      <a href="#" class="link">Corporate governance</a>
      <a href="#" class="link">Brand names</a>
      <a href="#" class="link">Certificate of Origin</a>
      <a href="#" class="link">Trade Agencies</a>
      <a href="#" class="link">Reductions Licenses</a>
      <a href="#" class="link">Consulting Profession</a>
      <a href="#" class="link">clearance</a>
      <a href="#" class="link">Laboratory Licenses</a>
      <a href="#" class="link">Other services</a>
      <a href="#" class="link">Electronic voting</a>
      <a href="#" class="link">Licenses of precious Metals and Gemstones</a>
      <a href="#" class="link">Ration permits</a>
    </div>
  </div>
  <div class="para row">
    <h6>When you log in to the Ministry of Commerce system, you can add, remove and control your favorite electronic services.
      <a href="https://efile.mci.gov.sa/ar/Account/Login?client_ID=B7C20385-85FC-434F-8031-5DD43A490718&landingPage=0&iam=0&returnurl=/&referrer=mci">From Here</a></h6>
      <h6>When you log in to the Tejarati system, you can view all your commercial records and transactions and view the latest alerts related to your commercial activities.
        <a href="https://tijarti.mci.gov.sa/">From Here</a></h6>
  </div>
  <div class="section row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/ar/mediacenter/News/PublishingImages/24-03-20-00-04.png">
        </div>
        <h5>Update the foundation system for joint stock companies</h5>
        <p>This service enables you to submit a request to replace the paper copy</p>
        <div class="hide">
          <a class="button" target="_blank" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="	https://mci.gov.sa/ar/mediacenter/News/PublishingImages/20-11-19-00-01-05.png">
        </div>
        <h5>Translation of incorporation contracts</h5>
        <p>​This service enables you to translate the company Memorandum of Association into English</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="	https://mci.gov.sa/ar/mediacenter/News/PublishingImages/23-02-21-01-01.png">
        </div>
        <h5>A platform to correct violations of the anti-concealment law</h5>
        <p> platform that provides an opportunity for Saudis and non-Saudis who are practitioners of economic activities to rectify their conditions, according to the Regulation for Correction of Conditions for Violators of the Anti-Concealment Law.</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv06-icon.png">
        </div>
        <h5>Renewal Commercial Register</h5>
        <p>This service enables you to apply for renewal of the expired Commercial Registration</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv15-icon.png">
        </div>
        <h5>Amending Commercial Register</h5>
        <p>This service enables you to submit an application to modify the commercial registry</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv05-icon.png">
        </div>
        <h5>Issuing main Commercial Register</h5>
        <p>This service enables the client to submit an application for booking a commercial name online</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="	https://mci.gov.sa/PublishingImages/serv01-icon.png">
        </div>
        <h5>Booking a Commercial Name</h5>
        <p>This service enables you to book a trade name, and to be approved by the competent</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="	https://mci.gov.sa/PublishingImages/serv10-icon.png">
        </div>
        <h5>Writing off Main Commercial Register</h5>
        <p>This service enables you to cancel the main or sub-commercial registration</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv85-icon.png">
        </div>
        <h5>Providing a Statement "To Whom it May Concern" to individuals</h5>
        <p>This service enables you to request a statement about a particular procedure online</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv00021-icon.png">
        </div>
        <h5>A Statement of Not Obtaining any Commercial Register</h5>
        <p>This service provides you with a letter from the Commercial Registry Department stating</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv11-icon.png">
        </div>
        <h5>Getting Commercial Register full data for an Est</h5>
        <p>This service enables you to get a copy of all commercial registration data for establishment</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="total">
        <div class="icon">
          <img src="https://mci.gov.sa/PublishingImages/serv0015-icon.png">
        </div>
        <h5>Transferring Commercial Register from Main to Branch or Vice versa</h5>
        <p>This service enables you to transfer your C.R. from main to sub-commercial registration, or vice versa.</p>
        <div class="hide">
          <a class="button" href="https://mci.gov.sa/en/eservices/Pages/ServiceDetails.aspx?sID=30">Get the service</a>
        </div>
      </div>
    </div>
    




  </div>
</div>  
