.head{
    text-align: center;
    margin-top: 20px;
    color: #00afa9;
    /* border-bottom: 5px solid #e66b2e; */
    border-width: 20%;
    font-family: Lato-Bold, DroidArabicKufi-Bold, sans-serif;;
    margin-bottom: 40px;
    font-size: 2rem;

}
.search input{
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%) !important;
    border: none;
}
.iconf{
    /* font-family: 'Font Awesome 5 Free' !important; */
    display: inline-block !important;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit !important;
    text-rendering: auto !important;
    -webkit-font-smoothing: antialiased !important;
    margin-right: 2px;
}
.special::before{
    font-family: "mci-icons";
    font-style: normal;
    font-weight: normal;
    /* speak: none; */
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.but{
    border-radius: 4px;
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%);
    
    background-color: #00afa9;
    color: white;
    padding: 10px 20px;
    border: none;
    transition: all .3s ease;
    cursor: pointer;
}
.space{
    margin: 0 20px;
}
.listbutton{
    font-size: 13px;
    padding: 10px 16px;
    border-radius: 20px;
    text-decoration: none;
    color: #666;
    background-color: #f7f7f7;
    margin: 5px;
}
.listbutton:hover{
    background-color: #0a6562;
    color: #fff;
}
.link{
    
    min-width: 50px;
    text-align: center;
    display: inline-block;
    margin: 5px 6px;
    padding: 5px 8px;
    text-decoration: none;
    font: 11px Lato-Regular, DroidArabicKufi, sans-serif !important;
    color: #666;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 20%);
}
.link:hover{
    background-color: #e66b2e;
    color: white;
}
.second{
    margin-bottom: 15px;
    padding-top: 20px;
}

.head::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 62px;
    height: 4px;
    background: #e66b2e;
}
.para{
    margin-top: 18px;
}
.para h6{
    color: #666;
    font-size: 15px;
    font-weight: 600;
    margin-top: -8px;
}
.para a{
    text-decoration: none;
}
.section{
    margin: 50px 0;
}
.total{
    width: 100%;
    height: 278px;
    background: #fff;
    box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 13%);
    margin-bottom: 40px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition: all .5s ease;
}

.total:before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #0a6562;
    right: 0;
    bottom: -278px;
    border-radius: 0px;
    transition: all .5s ease;
}
.total:hover{
    box-shadow: 0px 18px 35px 0px rgb(0 0 0 / 13%);
}
.total:hover:before{
    bottom: 0;
    
}
:active{
    outline: 0!important;
}

.total .icon{
    padding: 70px 0 0;
    height: 130px;
    position: relative;
    opacity: 1;
    text-align: center;
    transition: all .5s ease;
}
.total img{
    display: inline-block;
    max-height: 75px;
    max-width: 170px;
}
.total:hover {
    box-shadow: rgba(0, 0, 0, 0.13) 0px 18px 35px 0px;
}
.total:hover h5{
    color: #fff;
    margin-top: 35px;
    margin-bottom: 8px;
}
.total:hover .icon {
    margin-top: -130px;
    opacity: 0;
}
.total h5{
    padding: 0 5px;
    margin-top: 45px;
    margin-bottom: 60px;
    color: #666;
    text-align: center;
    transition: all .5s ease;
    font-weight: 1.143em;
    font-size: 1em;
    position: relative;
}
.total p {
    position: relative;
    text-align: center;
    padding: 5px 20px;
    padding-top: 10px;
    opacity: 0;
    transition: all .3s ease;
    font-size: 13px;
    color: #fff;
    /* display: block; */
}
.total .hide{
    position: absolute;
    width: 100%;
    height: 71px;
    left: 0;
    z-index: 2;
    overflow: hidden;
    bottom: 0;
}
.total:hover p {
    transition-delay: .2s;
    opacity: 1;
    padding-top: 5px;
}
.total .hide .button{
    
    text-align: center;
    color: #fff;
    border-radius: 35px;
    width: 75%;
    margin: 0 1%;
    height: 35px;
    position: relative;
    display: inline-block;
    transition: all .3s ease;
    opacity: 0;
    margin-top: 5px;
}
.total:hover .hide .button{
    transition-delay: .35s;
    opacity: 1;
    margin-top: 10px;
    padding-top: 5px;
}
.total .hide .button {
    background: #e66b2e !important;
}
.total .hide a{
    text-decoration: none;
    cursor: pointer;
} 

